.container {
  width: 100%;
   margin-right: auto;
   margin-left: auto;
  }
  
 @media (min-width: 0px) {
  .container {
    max-width:540px;
  }
}
 
 @media (min-width: 768px) {
   .container {
 
     max-width:720px;
   }
 }
 
 
 
 @media (min-width:959px) {
   .container {
     max-width:900px;
   }
 }
   
  @media (min-width: 1264px) {
   .container {
     max-width: 1216px;
   }
 }